<!-- Footer -->
<footer class="text-center">
  <a class="up-arrow" href="#liedfestival" data-toggle="tooltip" title="nach oben">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a><br><br>
  <p>Liedfestival Kassel 2020</p>
  <p>Veranstalter: piano.voce.ensemble in Kooperation mit dem Konzertverein Kassel</p>
  <p><a href="#" data-toggle="modal" data-target="#impressum" />Impressum</a> | <a href="mailto:{{ footer.contact }}" />Kontakt</a> | <a href="#" data-toggle="modal" data-target="#disclaimer" />Disclaimer</a></p>
</footer>

<!-- Modal -->

<div class="modal fade" id="impressum" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Impressum</h4>
      </div>
      <div class="modal-body">{{ footer.impressum|safe }}</div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-default pull-left" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove"></span> Schließen
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="disclaimer" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Disclaimer</h4>
      </div>
      <div class="modal-body">{{ footer.disclaimer|safe }}</div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-default pull-left" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove"></span> Schließen
        </button>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function(){
  // Weiterlesen
  $("#more").click( function () {
    $("#more").hide();
    $("#morecontent").show("slow");
  });


  // Initiate Lightbox
  $(function() {
    $('.gallery a').lightbox();
  });


  // Initialize Tooltip
  $('[data-toggle="tooltip"]').tooltip();

  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {

      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
})
</script>

</body>
</html>
