{% block impressionen %}
{% load static %}

<!-- Container Motto -->
<div id="impressionen" class="container">
<h3>Impressionen vom Liedfestival 2019</h3>

    <div class="row text-center gallery">
        <div class="col-md-4 thumbnail-bright">
            <a href="media/img/festival/2019/liedfestival-2019-1.jpg"><img src="media/img/festival/2019/liedfestival-2019-1_thumb.jpg" alt="Bild"></a>
        </div>
        <div class="col-md-4 thumbnail-bright">
            <a href="media/img/festival/2019/liedfestival-2019-2.jpg"><img src="media/img/festival/2019/liedfestival-2019-2_thumb.jpg" alt="Bild"></a>
        </div>
        <div class="col-md-4 thumbnail-bright">
            <a href="media/img/festival/2019/liedfestival-2019-3.jpg"><img src="media/img/festival/2019/liedfestival-2019-3_thumb.jpg" alt="Bild"></a>
        </div>
        <div class="col-md-4 thumbnail-bright">
            <a href="media/img/festival/2019/liedfestival-2019-4.jpg"><img src="media/img/festival/2019/liedfestival-2019-4_thumb.jpg" alt="Bild"></a>
        </div>
        <div class="col-md-4 thumbnail-bright">
            <a href="media/img/festival/2019/liedfestival-2019-5.jpg"><img src="media/img/festival/2019/liedfestival-2019-5_thumb.jpg" alt="Bild"></a>
        </div>
        <div class="col-md-4 thumbnail-bright">
            <a href="media/img/festival/2019/liedfestival-2019-6.jpg"><img src="media/img/festival/2019/liedfestival-2019-6_thumb.jpg" alt="Bild"></a>
        </div>
        <div class="col-md-4 thumbnail-bright">
            <a href="media/img/festival/2019/liedfestival-2019-7.jpg"><img src="media/img/festival/2019/liedfestival-2019-7_thumb.jpg" alt="Bild"></a>
        </div>
        <div class="col-md-4 thumbnail-bright">
            <a href="media/img/festival/2019/liedfestival-2019-8.jpg"><img src="media/img/festival/2019/liedfestival-2019-8_thumb.jpg" alt="Bild"></a>
        </div>
        <div class="col-md-4 thumbnail-bright">
            <a href="media/img/festival/2019/liedfestival-2019-9.jpg"><img src="media/img/festival/2019/liedfestival-2019-9_thumb.jpg" alt="Bild"></a>
        </div>
        <div class="col-md-4 thumbnail-bright">
            <a href="media/img/festival/2019/DSC_2729_Liedfestival2019_bearb.jpg"><img src="media/img/festival/2019/DSC_2729_Liedfestival2019_bearb_thumb.jpg" alt="Bild"></a>
        </div>
    </div>

<!--<ul class="gallery">
  <li></li>
  <li><a href="media/img/festival/2019/liedfestival-2019-2.jpg"><img src="media/img/festival/2019/liedfestival-2019-2_thumb.jpg" alt="Bild"></a></li>
  <li><a href="media/img/festival/2019/liedfestival-2019-3.jpg"><img src="media/img/festival/2019/liedfestival-2019-3_thumb.jpg" alt="Bild"></a></li>
  <li><a href="media/img/festival/2019/liedfestival-2019-4.jpg"><img src="media/img/festival/2019/liedfestival-2019-4_thumb.jpg" alt="Bild"></a></li>
  <li><a href="media/img/festival/2019/liedfestival-2019-5.jpg"><img src="media/img/festival/2019/liedfestival-2019-5_thumb.jpg" alt="Bild"></a></li>
  <li><a href="media/img/festival/2019/liedfestival-2019-6.jpg"><img src="media/img/festival/2019/liedfestival-2019-6_thumb.jpg" alt="Bild"></a></li>
  <li><a href="media/img/festival/2019/liedfestival-2019-7.jpg"><img src="media/img/festival/2019/liedfestival-2019-7_thumb.jpg" alt="Bild"></a></li>
  <li><a href="media/img/festival/2019/liedfestival-2019-8.jpg"><img src="media/img/festival/2019/liedfestival-2019-8_thumb.jpg" alt="Bild"></a></li>
  <li><a href="media/img/festival/2019/liedfestival-2019-9.jpg"><img src="media/img/festival/2019/liedfestival-2019-9_thumb.jpg" alt="Bild"></a></li>
</ul>-->

</div>
{% endblock %}
