{% include 'home/header.html' %}

{% include 'home/navbar-simple.html' %}

<div class="container">
    <h3>Liedfestival Kassel 2018</h3>
    <h4>Kartenvorbestellung</h4>

    {% if order_okay %}
    <p>Vielen Dank für Ihre Anmeldung! Bitte schauen Sie in Ihrem E-Mail-Postfach nach.</p>
    <p>Sollten Sie innerhalb einiger Minuten keine Nachricht erhalten haben, setzen Sie sich bitte
      <a href="mailto:vorbestellung@liedfestival-kassel.de">per E-Mail</a> mit uns in Verbindung.</p>
    <p><a href="/">Zurück zur Hauptseite</a></p>
    {% endif %}

    {% if form %}
    <p>Wir freuen uns über Ihr Interesse an den Konzerten im Rahmen des Liedfestivals Kassel.
      Zur Kartenvorbestellung bitten wir Sie, nachfolgendes Formular auszufüllen. Nach einem Klick auf
      »Karten bestellen« erhalten Sie eine umgehend eine Reservierungsbestätigung per E-Mail.
      Im Anschluss werden wir uns persönlich mit Ihnen in Verbindung setzen.</p>
    <p>&nbsp;</p>
    <div class="list-group">
      <div class="list-group-item">
        <form method="POST" class="post-form">{% csrf_token %}
          {{ form.non_field_errors }}
          {{ form.source.errors }}
          {{ form.source }}

          <div class="container-fluid">
            <div>
              <h5>Persönliche Daten</h5>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <p>{{ form.anrede.errors }}{{ form.anrede.label_tag }}<br />{{ form.anrede }}</p>
                <p>{{ form.titel.errors }}{{ form.titel.label_tag }}<br />{{ form.titel }}</p>
                <p>{{ form.first_name.errors }}{{ form.first_name.label_tag }}<br />{{ form.first_name }}</p>
                <p>{{ form.last_name.errors }}{{ form.last_name.label_tag }}<br />{{ form.last_name }}</p>
              </div>
              <div class="col-lg-4">
                <p>{{ form.strasse.errors }}{{ form.strasse.label_tag }}<br />{{ form.strasse }}</p>
                <p>{{ form.hausnummer.errors }}{{ form.hausnummer.label_tag }}<br />{{ form.hausnummer }}</p>
                <p>{{ form.plz.errors }}{{ form.plz.label_tag }}<br />{{ form.plz }}</p>
                <p>{{ form.plz.errors }}{{ form.ort.label_tag }}<br />{{ form.ort }}</p>
              </div>
              <div class="col-lg-4">
                <p>{{ form.tel.errors }}{{ form.tel.label_tag }}<br />{{ form.tel }}</p>
                <p>{{ form.email.errors }}{{ form.email.label_tag }}<br />{{ form.email }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <h5>Meine Kartenwünsche</h5>
              </div>
              <div class="col-lg-12" style="padding-bottom: 25px">
                <p>Für das <strong>gesamte</strong> Liedfestival 2019 möchte ich vorbestellen:</p>
                <p>{{ form.tickets_gesamtpaket }} Abonnementskarten zum Preis von 60,00 € (keine Ermäßigung)</p>
              </div>
              <div class="col-lg-12" style="padding-bottom: 25px">
              <p>Darüber hinaus möchte ich folgende Einzelkarten vorbestellen:</p>
              </div>
              <div class="col-lg-12" style="padding-bottom: 25px">
                <p>Für das Konzert »MUSIC FOR A WHILE · INSELKLÄNGE« (01.05.19):</p>
                <p>{{ form.tickets_eroeffnung }} Karten zum Normalpreis à 18,00 €</p>
                <p>{{ form.tickets_eroeffnung_erm }} Karten zum ermäßigten Preis à 8,00 €</p>
              </div>
              <div class="col-lg-12" style="padding-bottom: 25px">
                <p>Für das Konzert »OH, SING DIES LIED« (04.05.19):</p>
                <p>{{ form.tickets_romanzen }} Karten zum Normalpreis à 18,00 €</p>
                <p>{{ form.tickets_romanzen_erm }} Karten zum ermäßigten Preis à 8,00 €</p>
              </div>
              <div class="col-lg-12" style="padding-bottom: 25px">
                <p>Für das Konzert »JUNGES LIED« (05.05.19):</p>
                <p>{{ form.tickets_jungeslied }} Karten zum Normalpreis à 18,00 €</p>
                <p>{{ form.tickets_jungeslied_erm }} Karten zum ermäßigten Preis à 8,00 €</p>
              </div>
              <div class="col-lg-12" style="padding-bottom: 25px">
                <p>Für das Konzert »MÉLODIES FRANCAISES« (10.05.19):</p>
                <p>{{ form.tickets_melodies }} Karten zum Normalpreis à 18,00 €</p>
                <p>{{ form.tickets_melodies_erm }} Karten zum ermäßigten Preis à 8,00 €</p>
              </div>
              <div class="col-lg-12" style="padding-bottom: 25px">
                <p>Für das Konzert »WIR SINGEN · MY POYEM · WE SING · NOUS CHANTONS« (11.05.19):</p>
                <p>{{ form.tickets_abschluss }} Karten zum Normalpreis à 18,00 €</p>
                <p>{{ form.tickets_abschluss_erm }} Karten zum ermäßigten Preis à 8,00 €</p>
              </div>
              <div class="col-lg-12">
                <h5>Hinweis zu Abonnement / freiem Eintritt</h5>
                <p>Das Abonnement <strong>aller Konzerte</strong> im Rahmen des Liedfestivals 2019 ist zum Normalpreis
                  von 60,00 € zu erwerben. Das Abonnement ist personengebunden und nicht übertragbar.</p>
                <p><strong>Schüler</strong> (auch nach dem vollendeten 18. Lebensjahr) haben freien Eintritt zu allen Konzerten.<p></p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <h5>Ihre Nachricht (optional)</h5>
              </div>
              <div class="col-lg-12">{{ form.nachricht.errors }}{{ form.nachricht }}</div>
          </div>
          <button type="submit" class="btn btn-margin-top">Karten bestellen</button>
        </form>
      </div>
    </div>
    {% endif %}

  </div>
</div>

{% include 'home/footer.html' %}
