{% block motto %}
{% load static %}

<!-- Container Motto -->
<div id="motto" class="container">
  <h3>5 Jahre Liedfestival Kassel 9.&ndash;17. Mai 2020</h3>
  <h4>»Romantisches Lied«</h4>
  <p>Vielfältig, unerschöpflich, ja unauslotbar ist der Bestand an Liedern, die
  seit der Renaissance in Deutschland komponiert wurden. Wer wollte von sich
  behaupten, er kenne sämtliche Vertonungen auch nur der hunderten bekanntesten
  deutschen Gedichte? Wer, er habe wirklich alle Lieder von Schubert, Schumann,
  Brahms und Wolf gehört – um nur die bekanntesten zu nennen? Ein gewaltiges
  poetisches Universum, das Gedanken und Gefühle der Dichter und Komponisten
  als Wort und Ton fortklingen lässt, liegt wie ein aufgeschlagenes Buch vor
  uns. Dies ist der Grund dafür, dass das <em>Liedfestival Kassel</em>
  mühelos Jahr um Jahr mit neuen Programmen und interessanten Neuentdeckungen
  aufwarten kann.</p>
 <!--<button class="btn" id="more">Weiterlesen</button>
  <div id="morecontent">-->
    <p>Dieses Jahr findet das Liedfestival bereits zum fünften Male statt: ein
    kleines Jubiläum, welches das p.v.e. mit der Aufführung der
    Liebeslieder-Walzer von Johannes Brahms feiern wird. Dies Werk erklang beim
    allerersten Liedfestival und seine unnachahmliche Mischung aus klangvoller
    Dichtung, tänzerischer Musik und lyrischem Gesang war seinerzeit der
    Zündfunke für die Gründung des piano.voce.ensembles.</p>
 <!--</div>-->
</div>
{% endblock %}
