{% block motto %}
{% load static %}

<!-- Container Motto -->
<div id="motto" class="container">
  <h3>Liedfestival Kassel 1.&ndash;11. Mai 2019</h3>
  <h4>»Vertraute Fremde«</h4>
  <p>Vielfältig, unerschöpflich, ja unauslotbar ist der Bestand an Liedern, die
  seit der Renaissance in Deutschland komponiert wurden. Wer wollte von sich
  behaupten, er kenne sämtliche Vertonungen auch nur der hunderten bekanntesten
  deutschen Gedichte? Wer, er habe wirklich alle Lieder von Schubert, Schumann,
  Brahms und Wolf gehört – um nur die bekanntesten zu nennen? Ein gewaltiges
  poetisches Universum, das Gedanken und Gefühle der Dichter und Komponisten
  als Wort und Ton fortklingen lässt, liegt wie ein aufgeschlagenes Buch vor
  uns. Dies ist der Grund dafür, dass das <em>Liedfestival Kassel</em>
  mühelos Jahr um Jahr mit neuen Programmen und interessanten Neuentdeckungen
  aufwarten kann.</p>
 <button class="btn" id="more">Weiterlesen</button>
  <div id="morecontent">
    <p>Wenn sich nun der Gesichtskreis weiter öffnet, und die europäische
    Liedtradition mit ihren nationalen Facetten einbezieht, so stehen uns
    Einblicke und musikalische Erlebnisse bevor, die mehr auszudrücken vermögen,
    als andere transnationale Kommunikationsversuche in Politik und Medien es
    jemals könnten.</p>
    <p>Denn Weniges führt dichter an das unausgesprochen und selbstvergessen
    Vertraute eines Kulturkreises als seine Lieder. Dem Selbstverständnis, der
    »raison d’être« der französischen Nation kann man sich wahrscheinlich kaum
    unmittelbarer annähern, als mit den Chansons des neunzehnten und zwanzigsten
    Jahrhunderts: Duparc, Fauré, Chausson und Debussy sind kongeniale
    Vertonungen der sensiblen Gedichte ihrer Zeitgenossen Verlaine, Baudelaire
    oder Rimbaud gelungen, die selbst den sprachunkundigen Zuhörer in einen
    unlösbaren Bann zu schlagen vermögen. Der Ernst und die tiefe Melancholie
    der Lieder russischer Komponisten von Glinka über Rachmaninoff bis
    Schostakowitsch loten im Zusammenklang mit der Lyrik eines Puschkin oder
    Jessenin psychologische Momente aus, die sonst nur dem Muttersprachler
    zugänglich sind.</p>
   <p>Es gilt, diese Tür zu den großen Nationen Europas zu öffnen und immer
   wieder einen Blick hineinzuwerfen – in einen intimen Bereich von zugleich
   größter Emotionalität. Das piano.voce.ensemble hat in den letzten Jahren mit
   packenden Liederabenden unter Beweis gestellt, dass es außer faszinierender
   Musikalität, brillanter gesanglicher Meisterschaft und packender
   Gestaltungskraft obendrein die Fähigkeit zu kluger Programmgestaltung
   besitzt. Und obendrein: ein gutes Stück Entdeckerfreude. So kann man auf
   eine Reise zu Ländern, Leuten und Liedern gespannt sein.</p>
   <p>Kommen Sie mit!</p>
 </div>
</div>
{% endblock %}
