{% include 'home/header.html' %}

{% include 'home/navbar-simple.html' %}

<div class="container">
    <h3>Liedfestival Kassel 2019</h3>
    <h4>Anmeldung zum Workshop</h4>

    {% if order_okay %}
    <p>Vielen Dank für Ihre Anmeldung! Bitte schauen Sie in Ihrem E-Mail-Postfach nach.</p>
    <p>Sollten Sie innerhalb einiger Minuten keine Nachricht erhalten haben, setzen Sie sich bitte
      <a href="mailto:workshop@liedfestival-kassel.de">per E-Mail</a> mit uns in Verbindung.</p>
    <p><a href="/">Zurück zur Hauptseite</a></p>
    {% endif %}

    {% if form %}
    <p>Wir freuen uns über Ihr Interesse am Workshop im Rahmen des Liedfestivals Kassel.
      Zur Anmeldung bitten wir Sie, nachfolgendes Formular auszufüllen. Nach einem Klick auf
      "Anmeldung abschicken" erhalten Sie eine umgehend eine Bestätigung per E-Mail mit weiteren
      Informationen.</p>
    <p>&nbsp;</p>
    <div class="list-group">
      <div class="list-group-item">
        <form method="POST" class="post-form">{% csrf_token %}
          {{ form.non_field_errors }}
          {{ form.source.errors }}
          {{ form.source }}

          <div class="container-fluid">
            <div>
              <h5>Persönliche Daten</h5>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <p>{{ form.anrede.errors }}{{ form.anrede.label_tag }}<br />{{ form.anrede }}</p>
                <p>{{ form.titel.errors }}{{ form.titel.label_tag }}<br />{{ form.titel }}</p>
                <p>{{ form.first_name.errors }}{{ form.first_name.label_tag }}<br />{{ form.first_name }}</p>
                <p>{{ form.last_name.errors }}{{ form.last_name.label_tag }}<br />{{ form.last_name }}</p>
              </div>
              <div class="col-lg-4">
                <p>{{ form.strasse.errors }}{{ form.strasse.label_tag }}<br />{{ form.strasse }}</p>
                <p>{{ form.hausnummer.errors }}{{ form.hausnummer.label_tag }}<br />{{ form.hausnummer }}</p>
                <p>{{ form.plz.errors }}{{ form.plz.label_tag }}<br />{{ form.plz }}</p>
                <p>{{ form.plz.errors }}{{ form.ort.label_tag }}<br />{{ form.ort }}</p>
              </div>
              <div class="col-lg-4">
                <p>{{ form.tel.errors }}{{ form.tel.label_tag }}<br />{{ form.tel }}</p>
                <p>{{ form.email.errors }}{{ form.email.label_tag }}<br />{{ form.email }}</p>
                <p>{{ form.alter.errors }}{{ form.alter.label_tag }}<br />{{ form.alter }}</p>
                <p>{{ form.stimmfach.errors }}{{ form.stimmfach.label_tag }}<br />{{ form.stimmfach }}</p>
                <p>{{ form.ermaessigt.errors }}{{ form.ermaessigt }} Schüler/in, Student/in</p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8">
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-margin-top">Anmeldung abschicken</button>
        </form>
      </div>
    </div>
    {% endif %}

  </div>
</div>

{% include 'home/footer.html' %}
