{% block konzerte %}

<!-- Container (Workshop Section) -->
<div id="workshop" class="bg-1">
  <div class="container">
    <h3 class="text-center">Workshop</h3>
    <h4 class="text-center">27.&ndash;28. April 2019, Musikakademie der Stadt Kassel »Louis Spohr«</h4>
    <p>Ein öffentlicher Workshop bietet die Möglichkeit, mit der Sopranistin Traudl Schmaderer und dem Pianisten Michael Kravtchin (Mitglieder des <strong>piano.voce.ensembles</strong>) zu arbeiten.</p>
    <p>Zielgruppe des Workshops sind Musikstudenten, begabte Schüler und fortgeschrittene Laien. Die Teilnehmer werden von Michael Kravtchin begleitet, können aber auch eigene Begleiter mitbringen.</p>

    <h4 style="padding-top: 16px;">Zeitlicher Rahmen</h4>
    <div class="list-group">
    <div class="list-group-item">
      <p class="red" style="padding-bottom: 5px;">Samstag, 27. April 2019, 10.30&ndash;17 Uhr</p>
      <p>Unterricht mit den Mitgliedern des <strong>piano.voce.ensembles</strong></p>
    </div>
    <div class="list-group-item">
        <p class="red" style="padding-bottom: 5px;">Sonntag, 28. April 2019, 10&ndash;14 Uhr</p>
        <p>Forsetzung des Unterrichts mit Mitgliedern des <strong>piano.voce.ensembles</strong></p>
    </div>
    <!--<div class="list-group-item">
        <p class="red" style="padding-bottom: 5px;">Sonntag, 28. Juni 2018, 16&dash;18 Uhr<br />Buchoase Kassel, Germaniastraße 14, 34119 Kassel</p>
        <p>»Sing dein Lied«-Nachmittag</p>
        <p>Der musikalische Salon für jedermann!</p>
        <p><strong><a href="#weitere_informationen">Weitere Informationen hier</a></strong></p>
    </div>-->
    <div class="list-group-item">
        <p class="red" style="padding-bottom: 5px;">Sonntag, 28. April 2019, 20 Uhr</p>
        <p>Teilnehmerkonzert</p>
    </div>
    </div>
    <p>Letzter Anmeldetermin ist der <strong>15. April 2019</strong>.<br />
    Gültig wird die Anmeldung nur mit bis zur Anmeldefrist erfolgter Überweisung der Kursgebühr von 60 € pro Teilnehmer.</p>
    <h4 style="padding-top: 16px;">Kursgebühr</h4>
    <ul style="padding-bottom: 15px;">
      <li>60 € pro Teilnehmer</li>
      <li>Ermäßigung für Schüler und Studenten: 50 €</li>
    </ul>
    <button class="btn" onclick="location.href='workshop-anmeldung/';">Anmeldung zum Workshop</button>
  </div>
</div>
{% endblock %}
