{% block konzerte %}

<!-- Container (Workshop Section) -->
<div id="workshop" class="bg-1">
  <div class="container">
    <h3 class="text-center">Workshop</h3>
    <h4 class="text-center">9.&ndash;10. Juni 2018</h4>
    <p>Ein öffentlicher Workshop bietet die Möglichkeit, mit Mitgliedern des <strong>piano.voce.ensembles</strong> zu arbeiten.</p>
    <p>Zielgruppe des Workshops sind Musikstudenten, begabte Schüler und fortgeschrittene Laien. Die Teilnehmer werden von den Pianisten des <strong>piano.voce.ensembles</strong> begleitet, können aber auch eigene Begleiter mitbringen.</p>

    <h4 style="padding-top: 16px;">Zeitlicher Rahmen</h4>
    <div class="list-group">
    <div class="list-group-item">
      <p class="red" style="padding-bottom: 5px;">Samstag, 9. Juni 2018, 10.30&ndash;17 Uhr<br />Musikschule Baunatal, Friedrich-Ebert-Allee 12, 34225 Baunatal</p>
      <p>Unterricht mit Mitgliedern des <strong>piano.voce.ensembles</strong></p>
    </div>
    <div class="list-group-item">
        <p class="red" style="padding-bottom: 5px;">Sonntag, 10. Juni 2018, 10&ndash;14 Uhr<br />Musikschule Baunatal</p>
        <p>Forsetzung des Unterrichts mit Mitgliedern des <strong>piano.voce.ensembles</strong></p>
    </div>
    <div class="list-group-item">
        <p class="red" style="padding-bottom: 5px;">Sonntag, 10. Juni 2018, 16&dash;18 Uhr<br />Buchoase Kassel, Germaniastraße 14, 34119 Kassel</p>
        <p>»Sing dein Lied«-Nachmittag</p>
        <p>Der musikalische Salon für jedermann!</p>
        <p><strong><a href="#weitere_veranstaltungen">Weitere Informationen hier</a></strong></p>
    </div>
    <div class="list-group-item">
        <p class="red" style="padding-bottom: 5px;">Sonntag, 10. Juni 2018, 20 Uhr<br />Musikschule Baunatal</p>
        <p>Teilnehmerkonzert</p>
    </div>
    </div>
    <p>Letzter Anmeldetermin ist der 31. Mai 2018.<br />
    Gültig wird die Anmeldung nur mit bis zum 31. Mai erfolgter Überweisung der Kursgebühr von 50 € pro Teilnehmer.</p>
    <h4 style="padding-top: 16px;">Kursgebühr</h4>
    <ul style="padding-bottom: 15px;">
      <li>50 € pro Teilnehmer</li>
      <li>Ermäßigung für Schüler und Studenten: 40 €</li>
    </ul>
    <button class="btn" onclick="location.href='workshop-anmeldung/';">Anmeldung zum Workshop</button>
  </div>
</div>
{% endblock %}
